

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.intro {
	padding: 50px;
}


.navbar-brand {
	padding-left: 195px;
	padding-right: 330px;
}


.navbar .navbar-collapse, .navbar-inverse .navbar-form {
background-color: #2577B5;
color: #fff;
}

.footer, li {
	font-size: 10px;
}


.intro {
	background-color: #EFF1F7;
}

.navbar {
background-color: #2577B5;
border-color: #2577B5;
}

.navbar {
background-color: #2577B5;
}

#footerid {
	font-size: 6px;
}

a {
color: #2577B5;
text-decoration: none;
}

.btn-login {
background-image: -webkit-linear-gradient(top,#5cb85c 0,#419641 100%);
background-image: linear-gradient(to bottom,#5cb85c 0,#419641 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
background-repeat: repeat-x;
border-color: #3e8f3e;
}

